<template>
  <section>
    <div class="container">
      <app-header></app-header>
      <hr />
      <server-status></server-status>
      <hr />
   <manage-servers></manage-servers>
    </div>
  </section>
</template>

<script>
</script>

<style>
</style>
